<div class="container-fluid source-sans-pro-600">
  <div class="row h-100">
    <div class="col-sm-12">
      <h1 class="text-warning text-center">Contact Me</h1>
    </div>
    <div class="col-sm-6">
      <div class="card  bg-dark mb-3">
        <div class="row no-gutters">
          <div class="col-sm-4 d-flex align-items-center justify-content-center">
              <h1 class="text-warning"><i class="mdi mdi-phone-in-talk mdi-48px mdi-light text-warning"></i></h1>
          </div>
          <div class="col-sm-8 d-flex justify-content-center">
            <div class="card-body">
              <h5 class="card-title text-warning d-flex align-items-center">Phone</h5>
              <p class="card-text d-flex align-items-center"><a href="tel:8330919139">+91 8330919139</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card  bg-dark mb-3">
          <div class="row no-gutters">
            <div class="col-sm-4 d-flex align-items-center justify-content-center">
              <h1 class="text-warning"><i class="mdi mdi-contact-mail mdi-48px mdi-light text-warning"></i></h1>
            </div>
            <div class="col-sm-8 d-flex justify-content-center">
              <div class="card-body">
                <h5 class="card-title text-warning d-flex align-items-center">Email</h5>
                <p class="card-text d-flex align-items-center text-light"><a href="mailto: [sekharsairoyal@gmail.com]">sekharsairoyal@gmail.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>