.blurred-banner {
	animation: blurredBanner 1s 2.8s ease-in-out forwards;
	box-sizing: border-box;
	filter: blur(10px);
}

@keyframes blurredBanner {
	0% {
/* 		opacity: 0; */
/* 		backdrop-filter: blur(0); */
	}
	60% {
		opacity: 1;
		filter: blur(10px);
	}
	100% {
		backdrop-filter: blur(10px);
		filter: blur(0px);
		opacity: 1;
	}
}