<div class="container-fluid source-sans-pro-600">
    <div class="row">
      <div class="col-sm-12 text-center animated infinite bounce delay-2s">
          <h1 class="text-light font-weight-bold">Sai <span class="text-warning">Kulasekhar</span>  Vajrala</h1>
          <h4 class="text-danger">Developer <span class="spinner-grow" role="status">
            </span>
          </h4>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center">
          <img src="./assets/profilePic.png" class="rounded-circle img-fluid" alt="Cinque Terre">
      </div>
      <div class="col-sm-12 text-center source-sans-pro-600">
        <div class="card bg-dark mb-3 blurred-banner">
          <div class="card-header">
            <h1 class="text-warning text-center">Introduction</h1>
          </div>
          <div class="card-body">       
            <h5 class="text-light">I'm a Front End Developer from Bangalore, India. </h5>
            <p class="text-light">I enjoy taking complex problems and converting them into solutions, I love the logic and
              structure of coding and always strive to write elegant and efficent code.</p>
            <p class="text-light">When i'm not coding or pushing pixels, you'll find me in my home town spending some quality
              time with family and friends.</p>
          </div>
        </div>
      </div>
    </div>
  </div>