<div class="container-fluid">
  <h2 class="text-warning font-weight-bold mt-5 text-center">Experience</h2>
  <div class="row mt-5">
    <div class="col-sm-6 mt-5">
      <div class="card bg-dark mb-3 blurred-banner">
        <div class="card-header">
          <h5 class="text-warning">Niranta Solutions & Services Pvt Ltd</h5>
          <p class="text-light"><span class="font-weight-bold text-light">Address:</span>  No- Level- V, 147, Outer Ring Rd, Teacher's Colony, Jakkasandra, 1st Sector, HSR Layout 5th Sector, Bengaluru, Karnataka 560102</p>
        </div>
        <div class="card-body">
          <h5 class="card-title text-light">Associate Software Engineer</h5>
          <p class="card-text text-light">Responsible for designing UI screens with responsiveness.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-5">
      <div class="card bg-dark mb-3 blurred-banner">
        <div class="card-header">
          <h5 class="text-warning">Graylocus Solutions & Services Pvt Ltd</h5>
          <p class="text-light"><span class="font-weight-bold text-light">Address:</span> 1 level, 199, 22nd A Main Rd,
            Parangi Palaya, 1st Sector, HSR Layout, Bengaluru, Karnataka 560102</p>
        </div>
        <div class="card-body">
          <h5 class="card-title text-light">Software Engineer</h5>
          <p class="card-text text-light">Designing and developing user interfaces using AngularJS best practices, Making complex technical and design decisions for AngularJS projects</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12">
        <h2 class="text-warning font-weight-bold mt-5 text-center">Some of my work</h2>
    </div>
    <div class="col-sm-4 mt-5 d-flex justify-content-center">
      <div class="card bg-dark mb-3 blurred-banner" style="max-width: 18rem;">
        <div class="card-header">
          <h5 class="text-warning card-title">Pig-Game (Dice game)</h5>
          <p class="text-light card-text">The game has 2 players, playing in rounds</p>
        </div>
        <img class="card-img-top img-fluid" src="./assets/pig-game.png" alt="Dice game" title="Dice game">
        <div class="card-footer text-muted d-flex justify-content-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="https://github.com/saikulasekhar/pratice-script" target="_blank" class="btn btn-secondary">Github</a>
            <a href="https://pig-game-1b936.firebaseapp.com/" target="_blank" class="btn btn-secondary">Live Demo</a>
          </div>    
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-5 d-flex justify-content-center">
        <div class="card bg-dark mb-3 blurred-banner" style="max-width: 18rem;">
          <div class="card-header">
            <h5 class="text-warning card-title">Cricket Result Decider</h5>
            <p class="text-light card-text">Result decider based on set of rules</p>
          </div>
          <img class="card-img-top img-fluid" src="./assets/resultDecider.png" alt="Result Decider" title="Result Decider">
          <div class="card-footer text-muted d-flex justify-content-center">
            <div class="row">
              <div class="col-sm-6">
                <a href="https://github.com/saikulasekhar/circket_Result_Decider" target="_blank" class="btn btn-secondary">Github</a>
              </div>
              <div class="col-sm-6">
                <!-- <a href="https://pig-game-1b936.firebaseapp.com/" target="_blank" class="btn btn-secondary">Live Demo</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5 d-flex justify-content-center">
        <div class="card bg-dark mb-3 blurred-banner" style="max-width: 18rem;">
          <div class="card-header">
            <h5 class="text-warning card-title">TODO List using ionic-4</h5>
            <p class="text-light card-text">Work in progress</p>
          </div>
          <img class="card-img-bottom img-fluid" src="./assets/comingSoon.jpg" alt="coming soon" title="coming soon">
          <!-- <div class="card-footer text-muted">
            <div class="row">
              <div class="col-sm-6">
                <a href="https://github.com/saikulasekhar/pratice-script" target="_blank" class="btn btn-secondary">Github</a>
              </div>
              <div class="col-sm-6">
                <a href="https://pig-game-1b936.firebaseapp.com/" target="_blank" class="btn btn-secondary">Live Demo</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
  </div>
</div>