<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid px-0">
      <div class="row w-100">
        <div class="col-2">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown" >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
  
        <div class="col-10">
          <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/details/home" (click)="isShown = false" >About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/details/experience" (click)="isShown = false" >Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/details/contact" (click)="isShown = false" >Contact Me</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>